*{
    margin: 0;
    padding: 0;
}
html{
    background: linear-gradient(45deg, #42a5f5 0%,#478ed1 50%,#0d47a1 100%);
}
body{

    display: flex;
    flex-direction: column;
}
.time{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.control{
    display: flex;
}
.time_button{
    flex: 1;
    color: white;
    border: 0;
    outline: none;
    background: rgba(0,0,0,0.1);
    border-bottom: 3px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    padding: 22px;
}
.time_button:focus,.time_button:hover{
    outline: 0;
    background: rgba(0,0,0,0.2);
}
.input_box{
    flex: 1;
    display: flex;
}
.enter{
    flex: 1;
    padding: 22px;
    border: 0;
}
.show{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.show_counttime{
    color: white;
    font-size: 200px;
    font-weight: 100;
}
.show_endtime{
    font-size: 50px;
    color: white;
    margin: 40px 0;
}