*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    background: #ffc600;
}
.checkbox{
    background: white;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}
.checkbox li{
    border-bottom: 1px solid #F1F1F1;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.checkbox li input{
    margin: 20px;
}
.checkbox li p{
    flex: 1;
    padding: 20px;
    border-left: 1px solid #D1E2FF;
}
/*点击复选框，划掉选中的那一项*/
.checkbox li input:checked+p{
    background: #F9F9F9;
    text-decoration: line-through;
}